.section {
	height: 100%;
}
.name {
	color:blueviolet
}



.clear {
	clear: both
}

.box {
	border: solid 1px black;
	width: 100px;
	height: 100px;
	margin: 10px;
	float: left;
}

@media screen and (min-width: 480px) {
	.box {
		border: solid 1px black;
		width: 400px;
		height: 100px;
		margin: 10px;
		float: left;
	}
}
#menu {
	position: fixed;
	
	left: -50px;
	transition: 1s;
}

#menu:hover {
	position: fixed;
	background-color: aqua;
	left: 20px;
	transition: 1s;
}

#content {
	margin-left: 30px;
}

#education {
	background-color:burlywood
}

#experience {
	background-color:darkgray
}

#menu-dot {
	height: 20px;
	width: 4px;
	background-color: red;
	box-shadow: 0px 0px 5px #fff;
}

#labels {
	position: absolute;
	background-color: aqua;
}

#tracking {
	position: absolute;
	left: 75px;
	top: 0px;
	transition: 1s;
}
